.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
    width: var(--percentage-width);
    max-width: var(--max-width);
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-header img {
    width: 200px;
}

.nav-btn {
    padding: 0.15rem 0.75rem;
}

.nav-btn i {
    font-size: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 310px;
}

.nav-link {
    display: block;
    text-align: center;
    color: var(--gray-100);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--gray-300);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--primary-500)
}

.login-link a{
   padding: 0.15rem 1rem;
}

@media screen and (min-width: 700px) {
    .nav-btn{
        display: none;
    }

    .navbar{
        height: 6rem;
    }

    .nav-center {
        display: flex;
        align-items: center;
    }

    .nav-header {
        height: auto;
        margin-right: 2rem;
    }

    .nav-links {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .nav-link
    {
        padding: 0;
        border-top:none;
        margin-right: 1rem;
        font-size: 1rem;
    }

    .login-link {
        margin-left: auto;
        margin-right: 0;
    }
}

.page {
    width: var(--percentage-width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}

.page-footer{
    height: 4rem;
    text-align: center;
    background: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    color: var(--primary-500)
}

.hero {
    height: 20vh;
    position: relative;
    margin-bottom: 2rem;
    background: url('../assets/hero.jpg') center/cover no-repeat;
    border-radius: var(--border-radius);
}
.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
}
.hero-text {
    color: var(--white);
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .hero-text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
}

.form h3
{
    text-align: center;
}

.register-text {
    display: block;
    text-align: center;
    color: var(--gray-100);
    letter-spacing: var(--letterSpacing);
}

.register-link {
    display: block;
    text-align: center;
    letter-spacing: var(--letterSpacing);
    transition: var(--transition);
}

.register-link:hover {
    color: var(--primary-500)
}

.register-link a{
    padding: 0.15rem 1rem;
}

.games-container
{

}

.game-container
{
    display: flex;
    flex-direction: row;
}

.game-container h5
{
    display: inline-block;
    vertical-align: top;
}

.game-img
{
    display: inline-block;
    border-radius: var(--border-radius);
    width: 7vw;
    height: 3vw;
}