body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.album-container,
.sidebar-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.album-container{
    background-color: aqua;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
}

.sidebar-container{
    height: 100vh - 5em;
    background-color: aquamarine;
    overflow: hidden;
}

.album{
width: 200px;
height: 200px;
border-radius: 1em;
margin: 0.5em;
border: solid black 1px;
}

nav {
    height: 5em;
    background-color: beige;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media only screen 
    and (max-device-width: 390px)  {
        body{
            font-size: 10px;
        }
     }